.rent-summary {
  display: flex;
  flex-direction: column;
}

.attach-products {
  display: grid;
  justify-content: flex-start;
  float: left;
  grid-template-columns: repeat(2, 1fr);
  width: 500px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.products-list {
  padding: 5px;
  background-color: #f2f2f295;
  margin-right: 100px;
  width: 300px;
  border-radius: 5px;
  padding: 20px;
}

.products-list > ul {
  list-style: none;
}

.products-list > ul > li:hover {
  background-color: azure;
  cursor: default;
}

.select-product-button {
  cursor: pointer;
}

.row {
  margin: 0 0 0 0;
}

.col-75 {
  white-space: nowrap;
}
.col-75 > input {
  display: inline-block;
  max-width: 130px;
}

@media screen and (max-width: 600px) {
  .attach-products,
  .products-list {
    margin-top: 15px;
    display: block;
  }
}
