// $main-color-light: hsl(249, 3%, 46%);
// $main-color-dark: #363636;
// $text-color-light: #f2f2f2;
// $text-color-dark: #363636;

$main-color-light: #83838a;
$main-color-dark: #363636;
$text-color-light: #f2f2f2;
$text-color-dark: #363636;

$transparent-background-color: #f2f2f2d0;
$special-button-color-light: #4e47b5;
$special-button-color-dark: #2d277a;
$correct-color: #2e7526;
$error-color: #941818;
$create-color: #2e7526;
$delete-color: #941818;
$edit-color: #324aa8;
