body {
  margin: 0 !important;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans Display", sans-serif;
  /* colors */
  --light-color: #727178;
  --dark-color: #363636;
  --text-color: #f2f2f2;
  --special-button-color: #4e47b5;
  --special-button-dark-color: #2d277a;
  --error-color: #941818;

  color: var(--dark-color);
}

.content-container {
  background: url("../images/wynayemnik img1 transparent.jpg") center
    center/cover no-repeat;
  height: 100%;
  padding-bottom: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  object-fit: contain;
}

.content-container > .content-title {
  color: var(--light-color);
  font-size: 50px;
  padding-top: 20px;

  margin-left: max(150px);
  margin-right: max(150px);
  border-color: var(--light-color);
  border-bottom-style: solid;
}

.content-container > div {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.content-container > p {
  margin-top: 8px;
  font-size: 32px;
}

/* default button style */
button {
  margin-right: 10px;
  background-color: var(--light-color);
  font-size: large;
  color: var(--text-color);
}

button:hover {
  background-color: var(--dark-color);
}
/* --- */

.content-container .add-button {
  font-size: large;
  background-color: var(--special-button-color);
  color: var(--text-color);
}

.content-container .add-button:hover {
  background-color: var(--special-button-dark-color);
}

.content-btns {
  margin-top: 32px;
}

.content-btns .btn {
  margin: 6px;
}

.action-button {
  background-color: var(--light-color);
  color: var(--text-color);
  font-size: large;
}

.details-buttons {
  margin-left: 50px;
  margin-bottom: 20px;
}

.details-buttons .return-button {
  margin-right: 100px;
}

.details-buttons button {
  margin-right: 10px;
  background-color: var(--light-color);
  font-size: large;
}

.details-buttons button:hover {
  background-color: var(--dark-color);
}

.action-button:hover {
  background-color: var(--dark-color);
}

/* forms */

.form-container {
  border-radius: 5px;
  background-color: #f2f2f295;
  padding: 50px;
  box-sizing: border-box;
  max-width: 900px;
  margin-right: 10%;
}

/* ====== */
/* * {
  box-sizing: border-box;
} */

input[type="date"],
input[type="text"],
input[type="email"],
select,
input[type="number"],
input[type="checkbox"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
} */

input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

/* input[type="submit"]:hover {
  background-color: #45a049;
} */

/* .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

/* ======== */

form > .form-buttons {
  margin-top: 50px;
}

.error-msg {
  margin-left: 10px;
  color: var(--error-color);
}

/* edit */
.submit-message {
  margin-left: 70px;
  color: #226e37;
}

/* mobile */
@media screen and (max-width: 600px) {
  .content-container > .content-title {
    margin-left: auto;
    margin-right: auto;
  }
}
