body {
  margin: 0 !important;
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans Display", sans-serif;
  color: #363636;
}

.content-container {
  background: url("../images/wynayemnik img1 transparent.jpg") center center/cover no-repeat;
  height: 100%;
  padding-bottom: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  object-fit: contain;
  /* Clear floats after the columns */
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
}

.content-container__title {
  color: #737279;
  font-size: 50px;
  padding-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  border-color: #737279;
  border-bottom-style: solid;
  /* mobile */
}

@media screen and (max-width: 600px) {
  .content-container__title {
    margin-left: auto;
    margin-right: auto;
  }
}

.content-container div {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.content-container p {
  margin-top: 8px;
  font-size: 32px;
}

.content-container__table {
  margin-top: 0px;
}

.content-container__button {
  background-color: #737279;
  color: #f2f2f2;
  margin-right: 10px;
  font-size: large;
  border-radius: 0.4vw;
  padding: 5px 15px 5px 15px;
}

.content-container__button:hover {
  background-color: #363636;
}

.content-container__content-btns {
  margin-top: 32px;
}

.content-container__content-btns button {
  margin: 6px;
}

.content-container .details-container ul {
  list-style-type: none;
  color: #363636;
}

.content-container .details-container__buttons {
  margin-left: 50px;
  margin-bottom: 20px;
}

.content-container .details-container__button {
  background-color: #737279;
  color: #f2f2f2;
  margin-right: 10px;
  font-size: large;
  border-radius: 0.4vw;
  padding: 5px 15px 5px 15px;
  display: inline;
}

.content-container .details-container__button:hover {
  background-color: #363636;
}

.content-container .details-container__button--return {
  background-color: #737279;
  color: #f2f2f2;
  margin-right: 10px;
  font-size: large;
  border-radius: 0.4vw;
  padding: 5px 15px 5px 15px;
  margin-right: 100px;
  display: inline;
}

.content-container .details-container__button--return:hover {
  background-color: #363636;
}

.content-container .icon-container {
  font-size: 35px;
  padding: 5px;
  display: inline;
  color: #363636;
}

.content-container .icon-container p {
  display: none;
}

.content-container .icon-container:hover p {
  display: inline;
  font-size: 10px;
}

.content-container .icon-container__edit-icon:hover {
  color: #324aa8;
  cursor: pointer;
}

.content-container .icon-container__new-icon:hover {
  color: #2e7526;
  cursor: pointer;
}

.content-container .icon-container__delete-icon:hover {
  color: #941818;
  cursor: pointer;
}

.content-container .details-container,
.content-container .form-container {
  border-radius: 5px;
  background-color: #f2f2f295;
  padding: 50px;
  box-sizing: border-box;
  max-width: 900px;
}

.content-container .details-container label,
.content-container .form-container label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.content-container .details-container ul,
.content-container .form-container ul {
  list-style-type: none;
}

.content-container .row__col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.content-container .row__col-75 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

.content-container .form-container__row:after {
  content: "";
  display: table;
  clear: both;
}

.content-container .form-container__input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.content-container .form-container__input--checkbox {
  width: 30px;
  height: 30px;
}

.content-container .form-container__buttons {
  margin-top: 50px;
}

.content-container .form-container__buttons button {
  background-color: #737279;
  color: #f2f2f2;
  margin-right: 10px;
  font-size: large;
  border-radius: 0.4vw;
  padding: 5px 15px 5px 15px;
}

.content-container .form-container__buttons button:hover {
  background-color: #363636;
}

.content-container .form-container__error-msg {
  margin-left: 10px;
  color: #941818;
}

@media screen and (max-width: 600px) {
  .content-container .row__col-25,
  .content-container .row__col-75 {
    width: 100%;
    margin-top: 0;
  }
}
