.login-input{
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff;
}

.login-input::placeholder{
  color: #b1b1b1;
}

.login-form h2{
  margin-bottom: 32px;
}