table {
  margin: 20px 70px;
  border-spacing: 0;
  border: 1px solid black;
}

th,
td {
  padding: 0.5rem;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

th {
  background: grey;
  border-bottom: 3px solid black;
  color: white;
  font-style: bold;
}

.table-buttons {
  margin-left: 70px;
}

.table-buttons button:hover {
  background-color: #404142;
}

.table-buttons button:disabled {
  background-color: #b8b8b8;
}

.page-button {
  background-color: #87888a;
  font-size: large;
  color: #e3e3e3;
  margin-right: 10px;
}
