ul {
  list-style-type: none;
  margin: 20px 20px 20px 0px;
  color: #404142;
}

li {
  margin: 10px 10px;
}

.premises-details {
  font-size: 30px;
  margin-right: 50%;
  margin-left: 70px;
  margin-top: 20px;
  border-style: solid;
  border-color: #404142;
}

.content-title {
  color: #404142;
  font-size: 50px;
  padding-top: 20px;
  margin-left: 70px;
  margin-right: 70px;
  border-color: #404142;
  border-bottom-style: solid;
}

.deleted-msg {
  margin-top: 5%;
  margin-right: 70%;
  /* padding-top: 10%; */
  /* margin-top: 10px; */
  border-style: solid;
  border-color: #404142;
  border-width: 5px;
  text-align: center;
}

.deleted-msg > h2 {
  color: red;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.deleted-msg > button {
  margin-bottom: 15px;
}
