@import "../../styles/_colors";

footer {
  background-color: $main-color-light;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  width: 100%;
  color: $text-color-light;
  text-align: center;
  height: 150px;
  clear: both;
}

footer p {
  margin-top: 5px;
}
